.search-button {
    overflow: hidden;
    width: 24px;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    border: 1px solid transparent;
    height: 20px;
    border-radius: inherit;
    background: transparent url("../../../src/assets/searchIcon24.png")
}

.search-form {
    width: 72%;
    border: 1px solid currentColor;
}

.search-form-vendor{
    width: 85%;
    border: 1px solid currentColor;
}

.search-box-vendor {
    width: 80%;
}

.table-product {
    height: 85%;
    overflow-y: scroll;
}

.table-product::-webkit-scrollbar {
    display: none;
}

.search-box {
    width: 87%;
}