<div class="flex flex-col h-screen w-full">
  <div class="w-full text-xl text-center my-3">
    <p class="home-page-text">Sada International</p>
  </div>
  <div class="w-full flex">
    <div class="flex flex-1 justify-end cursor-pointer" (click)="formType = 1">
      <p class="w-max py-1 px-2 bg-slate-800 text-white rounded-lg">
        Add New Vendor
      </p>
    </div>
    <div class="flex flex-1 justify-center cursor-pointer" (click)="formType = 2">
      <p class="w-max py-1 px-7 bg-slate-800 text-white rounded-lg">
        Create Bill
      </p>
    </div>
    <div class="flex flex-1 justify-start cursor-pointer" (click)="formType = 3">
      <p class="w-max py-1 px-2 bg-slate-800 text-white border rounded-lg">
        Add New Product
      </p>
    </div>
  </div>
  <div class="h-full flex m-3 justify-center">
    <div class="container">
      <div class="w-full h-full grid content-center" *ngIf="formType == 0">
        <p class="home-page-text text-center">You Trust we deliver</p>
      </div>
      <app-add-vendor class="h-full" *ngIf="formType == 1"></app-add-vendor>
      <app-create-bill class="h-full" *ngIf="formType == 2"></app-create-bill>
      <app-add-product class="h-full" *ngIf="formType == 3"></app-add-product>
    </div>
  </div>
</div>
